[data-theme='appgoblin-theme'] {
	--text-scaling: 1;
	--base-font-color: oklch(0 0 0 / 1);
	--base-font-color-dark: oklch(1 0 0 / 1);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-secondary-950);
	--heading-font-color-dark: var(--color-secondary-50);
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-tertiary-600);
	--anchor-font-color-dark: var(--color-tertiary-200);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.063rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.01% 0.05 150.78deg);
	--color-primary-100: oklch(93.83% 0.06 150.79deg);
	--color-primary-200: oklch(90.67% 0.07 150.67deg);
	--color-primary-300: oklch(87.34% 0.09 149.61deg);
	--color-primary-400: oklch(84.21% 0.1 149.47deg);
	--color-primary-500: oklch(81.1% 0.11 149.23deg);
	--color-primary-600: oklch(73.64% 0.11 150.01deg);
	--color-primary-700: oklch(65.99% 0.12 150.89deg);
	--color-primary-800: oklch(58.24% 0.11 151.21deg);
	--color-primary-900: oklch(50.33% 0.11 151.24deg);
	--color-primary-950: oklch(42.35% 0.11 150.11deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(93.45% 0.04 306.54deg);
	--color-secondary-100: oklch(90.54% 0.05 306.71deg);
	--color-secondary-200: oklch(87.59% 0.07 305.38deg);
	--color-secondary-300: oklch(84.51% 0.09 305.86deg);
	--color-secondary-400: oklch(81.58% 0.1 304.84deg);
	--color-secondary-500: oklch(78.71% 0.12 304.79deg);
	--color-secondary-600: oklch(69.5% 0.11 304.15deg);
	--color-secondary-700: oklch(60.2% 0.1 304.04deg);
	--color-secondary-800: oklch(50.3% 0.09 303.05deg);
	--color-secondary-900: oklch(40.15% 0.08 302.59deg);
	--color-secondary-950: oklch(29.1% 0.08 300.46deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(95.79% 0.06 196.12deg);
	--color-tertiary-100: oklch(90.23% 0.08 204.23deg);
	--color-tertiary-200: oklch(84.73% 0.09 210.27deg);
	--color-tertiary-300: oklch(79.53% 0.1 214.93deg);
	--color-tertiary-400: oklch(74.25% 0.11 219.48deg);
	--color-tertiary-500: oklch(69.15% 0.12 224.2deg);
	--color-tertiary-600: oklch(62.59% 0.11 225.92deg);
	--color-tertiary-700: oklch(55.61% 0.1 228.96deg);
	--color-tertiary-800: oklch(48.71% 0.09 232.4deg);
	--color-tertiary-900: oklch(41.26% 0.09 237.16deg);
	--color-tertiary-950: oklch(33.71% 0.08 241.47deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.27% 0.1 149.84deg);
	--color-success-100: oklch(91.45% 0.12 149.56deg);
	--color-success-200: oklch(88.45% 0.14 148.93deg);
	--color-success-300: oklch(85.79% 0.15 148.49deg);
	--color-success-400: oklch(82.97% 0.17 147.8deg);
	--color-success-500: oklch(80.53% 0.19 147.21deg);
	--color-success-600: oklch(73.14% 0.17 147.25deg);
	--color-success-700: oklch(65.56% 0.15 147.3deg);
	--color-success-800: oklch(57.52% 0.13 147.27deg);
	--color-success-900: oklch(49.44% 0.11 147.34deg);
	--color-success-950: oklch(41.01% 0.09 147.43deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.26% 0.1 108.02deg);
	--color-warning-100: oklch(95.84% 0.12 104.66deg);
	--color-warning-200: oklch(93.48% 0.13 102.21deg);
	--color-warning-300: oklch(91.49% 0.15 100.17deg);
	--color-warning-400: oklch(89.28% 0.16 98.19deg);
	--color-warning-500: oklch(87.14% 0.17 96.01deg);
	--color-warning-600: oklch(79.88% 0.16 96.31deg);
	--color-warning-700: oklch(72.35% 0.14 95.62deg);
	--color-warning-800: oklch(64.73% 0.13 95.92deg);
	--color-warning-900: oklch(56.77% 0.11 94.87deg);
	--color-warning-950: oklch(48.63% 0.1 95.22deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(59.28% 0.21 28.53deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.51% 0.19 28.72deg);
	--color-error-900: oklch(46.22% 0.18 28.88deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(93.37% 0.01 308.7deg);
	--color-surface-200: oklch(86.74% 0.01 299.36deg);
	--color-surface-300: oklch(79.83% 0.01 304.18deg);
	--color-surface-400: oklch(72.93% 0.02 300.01deg);
	--color-surface-500: oklch(65.74% 0.03 301.77deg);
	--color-surface-600: oklch(57.91% 0.02 299.91deg);
	--color-surface-700: oklch(49.81% 0.02 297.75deg);
	--color-surface-800: oklch(41.22% 0.03 300.52deg);
	--color-surface-900: oklch(32.31% 0.03 298.09deg);
	--color-surface-950: oklch(22.74% 0.03 294.92deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
