[data-theme='appgoblin-theme'] {
	--text-scaling: 1;
	--typo-base--font-family: inherit;
	--typo-base--font-size: inherit;
	--typo-base--color-light: oklch(0 0 0 / 1);
	--typo-base--color-dark: oklch(1 0 0 / 1);
	--typo-base--line-height: inherit;
	--typo-base--font-weight: normal;
	--typo-base--font-style: normal;
	--typo-base--letter-spacing: 0em;
	--typo-base--font-stretch: inherit;
	--typo-base--font-kerning: inherit;
	--typo-base--text-shadow: inherit;
	--typo-base--word-spacing: inherit;
	--typo-base--hyphens: inherit;
	--typo-base--text-transform: inherit;
	--typo-heading--font-family: inherit;
	--typo-heading--color-light: var(--color-secondary-950);
	--typo-heading--color-dark: var(--color-secondary-50);
	--typo-heading--font-weight: bold;
	--typo-heading--font-style: normal;
	--typo-heading--letter-spacing: inherit;
	--typo-heading--font-stretch: inherit;
	--typo-heading--font-kerning: inherit;
	--typo-heading--text-shadow: inherit;
	--typo-heading--word-spacing: inherit;
	--typo-heading--hyphens: inherit;
	--typo-heading--text-transform: inherit;
	--typo-anchor--font-family: inherit;
	--typo-anchor--font-size: inherit;
	--typo-anchor--color-light: var(--color-tertiary-600);
	--typo-anchor--color-dark: var(--color-tertiary-200);
	--typo-anchor--line-height: inherit;
	--typo-anchor--font-weight: inherit;
	--typo-anchor--font-style: inherit;
	--typo-anchor--letter-spacing: inherit;
	--typo-anchor--font-stretch: inherit;
	--typo-anchor--font-kerning: inherit;
	--typo-anchor--text-shadow: inherit;
	--typo-anchor--word-spacing: inherit;
	--typo-anchor--hyphens: inherit;
	--typo-anchor--text-transform: inherit;
	--typo-anchor--text-decoration-line: none;
	--typo-anchor--text-decoration-color: inherit;
	--typo-anchor--text-decoration-style: inherit;
	--typo-anchor--text-decoration-thickness: inherit;
	--typo-anchor--text-underline-offset: inherit;
	--typo-anchor--text-underline-position: inherit;
	--typo-anchor--hover--text-decoration-line: underline;
	--typo-anchor--hover--text-decoration-color: inherit;
	--typo-anchor--hover--text-decoration-style: inherit;
	--typo-anchor--hover--text-decoration-thickness: inherit;
	--typo-anchor--hover--text-underline-offset: inherit;
	--typo-anchor--hover--text-underline-position: inherit;
	--typo-anchor--active--text-decoration-line: none;
	--typo-anchor--active--text-decoration-color: inherit;
	--typo-anchor--active--text-decoration-style: inherit;
	--typo-anchor--active--text-decoration-thickness: inherit;
	--typo-anchor--active--text-underline-offset: inherit;
	--typo-anchor--active--text-underline-position: inherit;
	--typo-anchor--focus--text-decoration-line: none;
	--typo-anchor--focus--text-decoration-color: inherit;
	--typo-anchor--focus--text-decoration-style: inherit;
	--typo-anchor--focus--text-decoration-thickness: inherit;
	--typo-anchor--focus--text-underline-offset: inherit;
	--typo-anchor--focus--text-underline-position: inherit;
	--spacing: 0.22rem;
	--radius-base: 0.063rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-ring-width: 1px;
	--default-outline-width: 1px;
	--corner-shape-base: squircle;
	--corner-shape-container: squircle;
	--color-root-bg-light: var(--color-surface-50);
	--color-root-bg-dark: var(--color-surface-950);
	--color-brand-light: var(--color-primary-200);
	--color-brand-contrast-light: var(--color-primary-contrast-200);
	--color-brand-dark: var(--color-primary-100);
	--color-brand-contrast-dark: var(--color-primary-contrast-100);
	--color-primary-50: oklch(97.52% 0.04 149.78deg);
	--color-primary-100: oklch(94.24% 0.05 149.96deg);
	--color-primary-200: oklch(90.82% 0.07 149.49deg);
	--color-primary-300: oklch(87.59% 0.08 150.01deg);
	--color-primary-400: oklch(84.2% 0.09 149.45deg);
	--color-primary-500: oklch(81% 0.11 149.14deg);
	--color-primary-600: oklch(71.08% 0.1 149.79deg);
	--color-primary-700: oklch(61.06% 0.1 149.82deg);
	--color-primary-800: oklch(50.36% 0.09 150.69deg);
	--color-primary-900: oklch(39.49% 0.09 150.06deg);
	--color-primary-950: oklch(27.7% 0.08 149.43deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(93.45% 0.04 306.54deg);
	--color-secondary-100: oklch(90.58% 0.06 306.17deg);
	--color-secondary-200: oklch(87.59% 0.07 305.38deg);
	--color-secondary-300: oklch(84.55% 0.09 305.51deg);
	--color-secondary-400: oklch(81.58% 0.1 304.84deg);
	--color-secondary-500: oklch(78.76% 0.12 304.51deg);
	--color-secondary-600: oklch(69.54% 0.11 303.84deg);
	--color-secondary-700: oklch(60.12% 0.11 303.7deg);
	--color-secondary-800: oklch(50.35% 0.1 302.66deg);
	--color-secondary-900: oklch(40.08% 0.09 302.12deg);
	--color-secondary-950: oklch(29.05% 0.08 299.88deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(95.67% 0.06 196.16deg);
	--color-tertiary-100: oklch(90.09% 0.07 204.56deg);
	--color-tertiary-200: oklch(84.82% 0.09 210.55deg);
	--color-tertiary-300: oklch(79.34% 0.1 215.36deg);
	--color-tertiary-400: oklch(74.31% 0.11 219.71deg);
	--color-tertiary-500: oklch(69.18% 0.12 224.37deg);
	--color-tertiary-600: oklch(62.61% 0.11 226.01deg);
	--color-tertiary-700: oklch(55.63% 0.1 229.07deg);
	--color-tertiary-800: oklch(48.72% 0.09 232.52deg);
	--color-tertiary-900: oklch(41.28% 0.09 237.3deg);
	--color-tertiary-950: oklch(33.71% 0.08 241.47deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.08% 0.1 150.45deg);
	--color-success-100: oklch(91.27% 0.12 150.02deg);
	--color-success-200: oklch(88.34% 0.14 149.06deg);
	--color-success-300: oklch(85.69% 0.16 148.59deg);
	--color-success-400: oklch(82.92% 0.17 147.72deg);
	--color-success-500: oklch(80.48% 0.19 147.14deg);
	--color-success-600: oklch(70.96% 0.17 146.98deg);
	--color-success-700: oklch(60.84% 0.15 146.59deg);
	--color-success-800: oklch(50.61% 0.13 146.09deg);
	--color-success-900: oklch(39.52% 0.11 145.29deg);
	--color-success-950: oklch(27.9% 0.09 144.9deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.19% 0.1 108.1deg);
	--color-warning-100: oklch(95.79% 0.12 104.81deg);
	--color-warning-200: oklch(93.46% 0.14 102.34deg);
	--color-warning-300: oklch(91.46% 0.15 100.34deg);
	--color-warning-400: oklch(89.26% 0.16 98.29deg);
	--color-warning-500: oklch(87.13% 0.17 96.05deg);
	--color-warning-600: oklch(76.97% 0.15 96.5deg);
	--color-warning-700: oklch(66.35% 0.13 95.89deg);
	--color-warning-800: oklch(55.4% 0.11 96.54deg);
	--color-warning-900: oklch(43.76% 0.08 95.49deg);
	--color-warning-950: oklch(31.4% 0.06 96.71deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.5% 0.11 22.66deg);
	--color-error-300: oklch(71.84% 0.15 24.01deg);
	--color-error-400: oklch(67.29% 0.19 26.46deg);
	--color-error-500: oklch(63.71% 0.22 28.57deg);
	--color-error-600: oklch(56.89% 0.2 28.53deg);
	--color-error-700: oklch(49.68% 0.18 28.49deg);
	--color-error-800: oklch(42.34% 0.16 28.24deg);
	--color-error-900: oklch(34.59% 0.13 28.23deg);
	--color-error-950: oklch(26.39% 0.11 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(99.34% 0 17.78deg);
	--color-surface-100: oklch(95.37% 0.01 303.26deg);
	--color-surface-200: oklch(86.54% 0.01 303.22deg);
	--color-surface-300: oklch(79.9% 0.02 301.23deg);
	--color-surface-400: oklch(72.79% 0.02 300.11deg);
	--color-surface-500: oklch(65.6% 0.03 301.53deg);
	--color-surface-600: oklch(57.52% 0.03 302.25deg);
	--color-surface-700: oklch(49.4% 0.03 300.57deg);
	--color-surface-800: oklch(40.57% 0.03 298.59deg);
	--color-surface-900: oklch(28.38% 0.02 302.44deg);
	--color-surface-950: oklch(21.68% 0.03 296.11deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
