[Unit]
Description=Using node to serve frontend for App Store Dash
StartLimitBurst=10
StartLimitIntervalSec=60
After=network.target

[Service]
Type=simple
User=goblin
Group=goblin

SupplementaryGroups=www-data
RuntimeDirectory=appgoblin
Environment=NODE_ENV=production SOCKET_PATH=/run/appgoblin/frontend.sock

ExecStart=/bin/bash -c "source /home/goblin/.nvm/nvm.sh && exec /home/goblin/.nvm/versions/node/v22.13.1/bin/node /home/goblin/appgoblin/frontend/build"

ExecStartPost=/bin/bash -c 'for i in {1..60}; do if [ -S /run/appgoblin/frontend.sock ]; then chown www-data:www-data /run/appgoblin/frontend.sock; exit 0; fi; sleep 0.5; done; echo "Warning: socket not found, skipping chown"; exit 0'


Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
