[Unit]
Description=Using node to serve frontend for AppGoblin
StartLimitBurst=10
StartLimitIntervalSec=60
After=network.target

[Service]
Type=simple
User=goblin
Group=www-data
UMask=0007

RuntimeDirectory=appgoblin

Environment=NODE_ENV=production
Environment=SOCKET_PATH=/run/appgoblin/frontend.sock

WorkingDirectory=/home/goblin/appgoblin/frontend
# /usr/bin/node is a sym link for nvm latest
ExecStart=/usr/bin/node build

Restart=on-failure
RestartSec=10   
KillMode=mixed

[Install]
WantedBy=multi-user.target
