[Unit]
Description=Uvicorn instance to serve App Store API
After=network.target

[Service]
User=goblin
Group=goblin
RuntimeDirectory=uvicorn
WorkingDirectory=/home/goblin/appgoblin/backend
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/goblin/venvs/appgoblin-env/bin/uvicorn \
    --workers 4 \
    --host 127.0.0.1 \
    --port 8000 \
    --timeout-graceful-shutdown 35 \
    app:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target

